# Database Configuration
DATABASE_URL=sqlite:./demo.db

# Session Secret (generate a random 32+ character string)
SESSION_SECRET=your-secret-key-here-minimum-32-characters-long

# Server Configuration (optional)
# HOST=127.0.0.1
# PORT=8080

# Logging
RUST_LOG=info

# Github auth
GITHUB_CLIENT_ID=1232434234
GITHUB_CLIENT_SECRET=234324